@import "~materialize-css/sass/materialize";
/*@import "~sw-rpg-icons/css/sw-rpg-icons";
@import "~sw-rpg-icons/css/sw-rpg-colors";*/

.navbar-full {
	border-radius: 0;
}

.die-stroke {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
